*.o
.DS_Store
CUPL/8085-BUSCTRL/CB720982
*.log
CUPL/DRAM_Controller/CB439892
CUPL/DRAM_Controller/CC228656
CUPL/DRAM_Controller/CC983826
CUPL/DRAM_Controller/CM049082
CUPL/DRAM_Controller/CM228656
CUPL/DRAM_Controller/CM311226
CUPL/DRAM_Controller/CM442298
CUPL/DRAM_Controller/CM983826
CUPL/MiniSys-186EB/186EB-GAL1 - Copy.PLD
CUPL/MiniSys-186EB/CB788196
CUPL/MiniSys-186EB/CM180282
CUPL/MiniSys-186EB/CM262874
CUPL/MiniSys-186EB/CM508994
CUPL/MiniSys-8MB/CM211800
CUPL/MiniSys-8MB/CM342872
CUPL/MiniSys-8MB/CM425646
CUPL/MiniSys-8MB/CM590676
CUPL/MiniSys-8MB/CM622298
CUPL/MiniSys-8MB/CM639258
CUPL/MiniSys-8MB/CM736088
CUPL/MiniSys-8MB/CM867160
CUPL/MiniSys-8MB/CM949656
CUPL/MiniSys-8MB/CM966840
CUPL/MiniSys-Eth/U1/CB046670
CUPL/MiniSys-Eth/U1/CB177742
CUPL/MiniSys-Eth/U1/CM063878
CUPL/MiniSys-Eth/U1/CM146076
CUPL/MiniSys-Eth/U1/CM243526
CUPL/MiniSys-Eth/U1/CM277148
CUPL/MiniSys-Eth/U1/CM326022
CUPL/MiniSys-Eth/U1/CM588166
CUPL/MiniSys-Eth/U1/CM604828
CUPL/MiniSys-Eth/U1/CM622086
CUPL/MiniSys-Eth/U1/CM639040
CUPL/MiniSys-Eth/U1/CM719238
CUPL/MiniSys-Eth/U1/CM735900
CUPL/MiniSys-Eth/U1/CM850310
CUPL/MiniSys-Eth/U1/CM866972
CUPL/MiniSys-Eth/U1/CM883932
CUPL/MiniSys-Eth/U1/CM884230
CUPL/MiniSys-Eth/U3/CB179676
CUPL/MiniSys-Eth/U3/CB197052
CUPL/MiniSys-Eth/U3/CB197546
CUPL/MiniSys-Eth/U3/CB655860
CUPL/MiniSys-Eth/U3/CB852552
CUPL/MiniSys-Eth/U3/CB983584
CUPL/MiniSys-Eth/U3/CM179676
CUPL/MiniSys-Eth/U3/CM197052
CUPL/MiniSys-Eth/U3/CM197546
CUPL/MiniSys-Eth/U3/CM655860
CUPL/MiniSys-Eth/U3/CM852552
CUPL/MiniSys-Eth/U3/CM983584
CUPL/MiniSys-Eth/U4/CM639044
